/* Estilos para o cabeçalho */
*{
  margin: 0;
  padding: 0;
}

header {
    padding: 25vh 0;
    background-color: #241f33;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 180px;
  }
  
  /* Estilos para as informações pessoais */
  #informacoes-pessoais {
    
    margin: 20px 0;
    margin-bottom: 260px;
  }
  
  /* Estilos para o carrossel de imagens */
  .carousel {
    /* Adicione estilos adequados para o carrossel de imagens */
  }

  .perfil {
    width: 25%; /* Ajuste o tamanho da imagem conforme necessário */
    float: right;
    border-radius: 30px;
  }
  
  .nome-titulo {
    font-size: 30px;
    color: #241f33;
  }

  .informacoes{
    padding: 0 10% 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  .textoinfo{
    width: 50%;
  }